* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.box{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: space-between;
    display:flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
    list-style-type:none ;
}
.menu li a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.box .btn{
    margin: 24px 0px;
    

}
.logo-kv{
    margin: 16px 0;
    max-width: 139px;
}
.banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 674px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-items{
    width: 85%;
    max-width: 1360px;
    
}
.banner .banner-top{
    display: flex;
    justify-content: center;
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    border: none;
    width: 227px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 8px 0;
    
    
}
.banner .banner-top p{
    text-align: center;
    padding-left: 3.5px;
}
.banner .banner-content h1{
    padding: 16px 0px;
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
    color: #FFFFFF;
}
.banner .banner-content h1 .green-h{
    color: #30B868;
}
.banner .banner-content p{
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF ;
}
.b-btn{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
}
.banner-button{
   padding-top: 32px;
}
.cards-section{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}
.cards{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
}
.card-text h1{
    height: 117px;
    padding-top: 65px;
  color: #001931;
  font-size: 48px;
}
.card-text p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card{
    padding: 69.5px 24px;
    width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 16px;
    box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0px;
}


.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-logo{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
}
.solution .solution-container{
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 120px auto;
    justify-content: space-between;
    align-items: center;
}
.solution .solution-img{
    height: 600px;
    width: 600px;
}
.solution .the-solution {
    height: 396px;
    width: 700px;
    margin: 102px 0px 102px 60px;
    
}
.solution .the-solution h4{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;   
    color: #30B868;
}
.solution .the-solution h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    
}
.solution .the-solution p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
    font-weight: 400;

}
.solution .the-solution .sol-list li{
    list-style:none;
    color:#001931 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    gap: 6px;
    padding-bottom: 16px;
    display: flex;
    
}
.solution .the-solution .check-img{
    width: 20px;
    height: 20px;
    
    
}
main .early-access{
    width: 85%;
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
}
main .early-access h2{
    color: #001931;
    font-size: 40px;
    padding-top: 80px;
}
main .early-access h4{
      font-size: 16px;
      color: #627382;
      line-height: 24px;
      padding-top: 16px;
      font-weight: 400;

}
main .early-access p{
      font-size: 16px;
      color: #627382;
      line-height: 20px;
      font-weight: 400;

}
.early-access .btn{
    margin-top: 24px;
    margin-bottom: 16px;
}
