* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.box{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: space-between;
    display:flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
    list-style-type:none ;
}
.menu li a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 24px 0px;
}
.logo-kv{
    margin: 16px 0;
    max-width: 139px;
}
